USE [master]
GO
/****** Object:  Database [PolyApp]    Script Date: 11/18/2025 9:51:10 AM ******/
CREATE DATABASE [PolyApp]
 CONTAINMENT = NONE
ALTER DATABASE [PolyApp] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PolyApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PolyApp]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 11/18/2025 9:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [char](7) NOT NULL,
	[TiengAnh] [float] NULL,
	[TinHoc] [float] NULL,
	[GDTC] [float] NULL,
 CONSTRAINT [PK_KetQua] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/18/2025 9:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[TenDangNhap] [varchar](20) NOT NULL,
	[MatKhau] [varchar](30) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 11/18/2025 9:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSinhVien] [char](7) NOT NULL,
	[Hoten] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SoDT] [varchar](30) NULL,
	[GioiTinh] [smallint] NOT NULL,
	[DiaChi] [nvarchar](150) NULL,
	[Hinh] [image] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangDiem] ON 

INSERT [dbo].[BangDiem] ([Ma], [MaSinhVien], [TiengAnh], [TinHoc], [GDTC]) VALUES (1002, N'PD12345', 9, 8, 9)
INSERT [dbo].[BangDiem] ([Ma], [MaSinhVien], [TiengAnh], [TinHoc], [GDTC]) VALUES (1003, N'PD12   ', 7, 6, 6)
SET IDENTITY_INSERT [dbo].[BangDiem] OFF
GO
INSERT [dbo].[NguoiDung] ([TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'anhnn', N'abc', N'Giảng viên')
INSERT [dbo].[NguoiDung] ([TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'trongnt', N'abc', N'Đào tạo')
GO
INSERT [dbo].[SinhVien] ([MaSinhVien], [Hoten], [Email], [SoDT], [GioiTinh], [DiaChi], [Hinh]) VALUES (N'PD12   ', N'A', N'a', N'090', 1, N'a', NULL)
INSERT [dbo].[SinhVien] ([MaSinhVien], [Hoten], [Email], [SoDT], [GioiTinh], [DiaChi], [Hinh]) VALUES (N'PD12345', N'Trần Văn Minh', N'min@gmail.com', N'0905', 1, N'123 - Quang Trung', NULL)
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK_BangDiem_SinhVien] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK_BangDiem_SinhVien]
GO
USE [master]
GO
