USE [master]
GO
/****** Object:  Database [AssignmentDB]    Script Date: 11/22/2025 2:08:48 AM ******/
CREATE DATABASE [AssignmentDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentDB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/22/2025 2:08:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[MaSV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDT] [nvarchar](50) NULL,
	[Hinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/22/2025 2:08:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Students] ([MaSV], [HoTen], [Email], [GioiTinh], [DiaChi], [SoDT], [Hinh]) VALUES (N'SV01', N'Minh', N'Minh@gmail.com', 1, N'137 NTT', N'0905', NULL)
INSERT [dbo].[Students] ([MaSV], [HoTen], [Email], [GioiTinh], [DiaChi], [SoDT], [Hinh]) VALUES (N'SV02', N'Tien Tran', N'tien@gmail.com', 0, N'123 123', N'0904', NULL)
INSERT [dbo].[Students] ([MaSV], [HoTen], [Email], [GioiTinh], [DiaChi], [SoDT], [Hinh]) VALUES (N't1', N'1', N'1', 1, N'1', N'1', N'new.png')
GO
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'admin', N'admin', N'staff')
GO
USE [master]
GO
