USE [master]
GO
/****** Object:  Database [DB_ASS_Java3]    Script Date: 11/25/2025 12:17:41 AM ******/
CREATE DATABASE [DB_ASS_Java3]
 CONTAINMENT = NONE
ALTER DATABASE [DB_ASS_Java3] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ASS_Java3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ASS_Java3]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 11/25/2025 12:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](50) NULL,
	[AnhVan] [float] NULL,
	[TinHoc] [float] NULL,
	[GDTC] [float] NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 11/25/2025 12:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](50) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](50) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/25/2025 12:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[role] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Grade] ON 

INSERT [dbo].[Grade] ([id], [MaSV], [AnhVan], [TinHoc], [GDTC]) VALUES (2, N'PD33', 6, 7, 8)
INSERT [dbo].[Grade] ([id], [MaSV], [AnhVan], [TinHoc], [GDTC]) VALUES (4, N'PD04', 7, 8, 8)
INSERT [dbo].[Grade] ([id], [MaSV], [AnhVan], [TinHoc], [GDTC]) VALUES (5, N'PD06', 8, 9, 9)
SET IDENTITY_INSERT [dbo].[Grade] OFF
GO
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [HinhAnh]) VALUES (N'PD03', N'Nhat Anh', CAST(N'2012-12-12' AS Date), 1, N'Da Nang', N'Closed door.png')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [HinhAnh]) VALUES (N'PD04', N'Hong Nhat', CAST(N'2012-12-12' AS Date), 1, N'Da Nang', N'Closed folder.png')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [HinhAnh]) VALUES (N'PD06', N'Nam', CAST(N'2012-12-12' AS Date), 1, N'Da Nang', N'Create.png')
GO
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'admin', N'123456', 1)
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'teonv', N'123456', 0)
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [FK_Grade_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [FK_Grade_SinhVien]
GO
USE [master]
GO
